.login-page {
  background-color: rgb(58, 119, 255);
  height: 100vh;
}

.login-box {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
}

.login-box div {
  width: 100vh;
  max-width: 400px;
}
