<hr>
<div class="container pt-5 pb-5">
    <div class="row">
        <div class="col-lg-3">
            <ul class="list-unstyled footer-link-block">
                <li><a class="text-decoration-none footer-links" routerLink="/">Lorem ipsum</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Dolor sit amet</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Consectetur adipiscing elit</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Donec vel sem nunc</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Maecenas vitae</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="list-unstyled footer-link-block">
                <li><a class="text-decoration-none footer-links" routerLink="/">Libero tellus</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Donec hendrerit</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Phasellus ut lacus</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Dignissim lobortis</a></li>
                <li><a class="text-decoration-none footer-links" routerLink="/">Ac quis mauris</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sem nunc. Maecenas vitae libero
                tellus. Donec hendrerit erat justo, et dapibus diam faucibus pulvinar. Nullam gravida magna non orci
                sollicitudin, a elementum orci vestibulum.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><fa-icon [icon]="faFacebook" class="social-icon"></fa-icon></a>
                </li>
                <li class="list-inline-item"><a href="#"><fa-icon [icon]="faInstagram"
                            class="social-icon"></fa-icon></a></li>
                <li class="list-inline-item"><a href="#"><fa-icon [icon]="faYoutube" class="social-icon"></fa-icon></a>
                </li>
                <li class="list-inline-item"><a href="#"><fa-icon [icon]="faTwitter" class="social-icon"></fa-icon></a>
                </li>
                <li class="list-inline-item"><a href="#"><fa-icon [icon]="faTiktok" class="social-icon"></fa-icon></a>
                </li>
            </ul>
        </div>
    </div>
</div>