<ul class="random-offers-list">
    <li class="list-inline-item" *ngFor="let randomOffers of randomOffer">
        <a href="">
            <div class="offer-box">
                <div class="offer-box-image">
                    <img [src]="randomOffers.image">
                </div>
                <div class="offer-box-title">
                    <span>{{ randomOffers.name }}</span>
                </div>
                <div class="offer-box-details">
                    <div class="offer-box-district">
                        <span>{{ randomOffers.district }}</span>
                    </div>
                    <div class="offer-box-price">{{ randomOffers.price }} zł</div>
                </div>
            </div>
        </a>
    </li>
</ul>