<nav class="navbar navbar-expand-lg navbar-dark background-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto user-menu" *ngIf="emailLogin; else notLoggedIn">
                <li class="nav-item">
                    <a class="nav-link active ml-3" routerLink="/">Wiadomości</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active ml-3" routerLink="/">Obserwowane</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active ml-3 dropdown-toggle" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Twoje konto</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="dropdown-item-logged-user">Zalogowano jako: <strong>{{emailLogin}} </strong>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="onSignOut()" href="">Wyloguj</a>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary ml-3" routerLink="/add-offer">Dodaj ogłoszenie</button>
                </li>
            </ul>
            <ng-template #notLoggedIn>
                <ul class="navbar-nav ml-auto user-menu">
                    <li class="nav-item">
                        <a class="nav-link active ml-3" routerLink="/">Wiadomości</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active ml-3" routerLink="/">Obserwowane</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active ml-3" routerLink="/account">Zaloguj się</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary ml-3" routerLink="/account">Dodaj
                            ogłoszenie</button>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>