<a href="">
    <div class="offer-box-panel">
        <div class="offer-box-image">
            <a href=""><img class="img-fluid" [src]="randomOfferItem?.image" [alt]="randomOfferItem.offerName"></a>
        </div>
        <div class="offer-box-title">
            <a href=""><span>{{ randomOfferItem.offerName }}</span></a>
        </div>
        <div class="offer-box-details">
            <div class="detail">
                <div class="offer-box-district">
                    <a href=""><span>{{ randomOfferItem.district }}</span></a>
                </div>
                <a href="">
                    <div class="offer-box-price">{{ randomOfferItem.price }} zł</div>
                </a>
            </div>
            <div class="detail">
                <a href="">
                    <p class="fav-icon"><fa-icon [icon]="faHeart"></fa-icon></p>
                </a>
            </div>
        </div>
    </div>
</a>