form {
  width: 100%;
}

input,
select {
  background: var(--main-light);
  height: 3rem;
  border: 0;
}

textarea {
  background: var(--main-light);
  border: 0;
}

.currency {
  padding-right: 16px;
  position: absolute;
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
}

input.ng-touched.ng-invalid {
  background-clip: padding-box;
  background-color: rgb(242, 244, 245);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(242, 244, 245) rgb(242, 244, 245) rgb(255, 86, 54);
}

p.form-error {
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
  color: rgb(255, 86, 54);
}

.description-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 1rem;
}
