.add-offer-box {
  background: var(--white);
  border-radius: var(--default-radius);
  padding: 2rem;
  width: 100%;
  margin-top: 1rem;
}

form {
  width: 100%;
}

input,
select {
  background: var(--main-light);
  height: 3rem;
  border: 0;
}

textarea {
  background: var(--main-light);
  border: 0;
}

.currency {
  padding-right: 16px;
  position: absolute;
  right: 10px;
  top: 42%;
  transform: translateY(-50%);
}
