<div class="container search-container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-7">
                <input type="text" class="form-search" id="searchInput" placeholder="Wyszukaj ofertę">
            </div>
            <div class="form-group col-md-3">
                <select class="form-search">
                    <option selected>Wybierz dzielnicę</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-search">Szukaj</button>
            </div>
        </div>
    </form>
</div>