<div class="container search-container">
    <form>
        <div class="form-row">
            <div class="form-group col-md-7">
                <input #searchInput type="text" class="form-search" id="searchInput" placeholder="Wyszukaj ofertę">
            </div>
            <div class="form-group col-md-3">
                <select class="form-search">
                    <option selected [ngValue]="null">Wybierz dzielnicę</option>
                    <option *ngFor="let district of districts" [ngValue]="district.id">{{ district.name }}</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <button (click)="onSubmitSearch(searchInput.value)" type="button" class="btn btn-search">Szukaj</button>
            </div>
        </div>
    </form>
</div>