:root {
  --main-dark: #002f34;
  --main-light: #f2f4f5;
  --white: #ffffff;
  --default-radius: 10px;
  --red: #ff5636;
}

body {
  color: var(--main-dark);
  background: var(--main-light);
}

.btn-primary {
  background-color: var(--main-light);
  color: var(--main-dark);
  border: 5px solid var(--main-light);
  font-weight: 600;
}

.btn-primary:hover {
  background-color: transparent;
  border: 5px solid var(--main-light);
  color: var(--main-light);
}

.btn-secondary {
  background-color: var(--main-dark);
  color: var(--white);
  border: 5px solid var(--main-dark);
  font-weight: 600;
}

.btn-secondary:hover:not([disabled]) {
  background-color: transparent;
  border: 5px solid var(--main-dark);
  color: var(--main-dark);
}

.background-dark {
  background-color: var(--main-dark);
}

.white-background-box {
  background: var(--white);
  border-radius: var(--default-radius);
  padding: 2rem;
  width: 100%;
  margin-top: 1rem;
}

input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: var(--main-light) var(--main-light) var(--red);
}

p.form-error {
  font-size: 14px;
  line-height: 18px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 0px;
  color: var(--red);
}

.ngx-pagination {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  background: transparent !important;
  color: var(--main-dark) !important;
}

.ngx-pagination .current {
  background: transparent !important;
  color: var(--main-dark) !important;
  font-weight: 600;
}
