<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="white-background-box">
                galeria
            </div>
            <div class="white-background-box">
                <h1 class="title">Tytul oferty</h1>
                <h3 class="price">1000 zł</h3>
                <div class="parameters">
                    <span class="parameter-badge">Nowe</span>
                    <span class="parameter-badge">Osoba prywatna</span>
                </div>
                <div class="description">
                    <h3 class="description-title">OPIS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed libero vitae velit blandit
                        pellentesque. Vivamus id nunc ipsum. Maecenas eu lorem eu purus volutpat pellentesque. Duis
                        auctor felis eget leo ornare, vel fringilla ex ullamcorper. Curabitur luctus, tortor id
                        vestibulum varius, magna velit feugiat velit, sed mollis nisl lacus ut eros. Suspendisse quis
                        sodales elit, eget bibendum ipsum. Aenean pharetra leo non justo consectetur, non hendrerit
                        sapien accumsan. Aliquam tincidunt euismod velit, eu dictum nisi. Nullam ac massa dignissim,
                        ultricies ante at, luctus ipsum. Sed fermentum tincidunt turpis quis laoreet.</p>
                    <p>Praesent fermentum lacus id erat gravida, in tincidunt purus volutpat. Nulla facilisi. Phasellus
                        suscipit finibus lorem, sit amet iaculis nulla ultrices vel. In hac habitasse platea dictumst.
                        Proin efficitur arcu eu mauris rhoncus, vel elementum risus gravida. Suspendisse sed risus
                        consectetur, molestie purus ut, blandit justo. Vivamus dapibus, mi id ullamcorper congue, risus
                        elit luctus augue, vitae tincidunt eros enim sit amet sapien. Aenean suscipit lacus vel bibendum
                        fringilla. Aliquam euismod erat id massa euismod luctus. Suspendisse in lacinia diam.</p>
                </div>
                <hr>
                <small>ID:</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="white-background-box">
                <p class="box-title">Sprzedający</p>
                <div class="seller">
                    <div class="avatar"><img src="assets/avatar.png"></div>
                    <div class="seller-info">
                        <div class="seller-name">User name</div>
                        <p>Na portalu od 2020</p>
                    </div>
                </div>
                <div class="actions">
                    <button a href="#" class="btn btn-call">Zadzwoń</button>
                    <p class="pt-3"><a href="">Więcej od tego ogłoszeniodawcy</a></p>
                </div>

            </div>
            <div class="white-background-box">
                <p class="box-title">Lokalizacja</p>
                <div class="localization">
                    <div>Wrzeszcz</div>
                    <div><img src="assets/example_map.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>