<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="white-background-box">
                galeria
            </div>
            <div class="white-background-box">
                <h1 class="title">{{offer.offerName}}</h1>
                <h3 class="price">{{offer.price}} zł</h3>
                <div class="parameters">
                    <span class="parameter-badge">{{offer.state}}</span>
                </div>
                <div class="description">
                    <h3 class="description-title">OPIS</h3>
                    <p>{{offer.description}}</p>

                </div>
                <hr>
                <small>ID: {{offer.id}}</small>
            </div>
        </div>
        <div class="col-md-4">
            <div class="white-background-box">
                <p class="box-title">Sprzedający</p>
                <div class="seller">
                    <div class="avatar"><img src="assets/avatar.png"></div>
                    <div class="seller-info">
                        <div class="seller-name">User name</div>
                        <p>Na portalu od 2020</p>
                    </div>
                </div>
                <div class="actions">
                    <button a href="#" class="btn btn-call">Zadzwoń</button>
                    <p class="pt-3"><a href="">Więcej od tego ogłoszeniodawcy</a></p>
                </div>

            </div>
            <div class="white-background-box">
                <p class="box-title">Lokalizacja</p>
                <div class="localization">
                    <div>{{offer.district}}</div>
                    <div><img src="assets/example_map.svg"></div>
                </div>
            </div>
        </div>
    </div>
</div>